.App {
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
}
.SignInForm button {
  position: relative;
  display: inline-block;
  padding: 10px, 20px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
}

.SignInForm h3 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.accountBalance {
  border: 1px solid black;
  height: 200px;
}

.transactionBox {
  height: 50px;
}

.transactionBox .transactionName {
  float: left;
}

.transactionBox .transactionType {
  float: left;
}

.transactionBox .transactionAmount {
  float: right;
  font-size: 20px;
  margin-right: 5px;
}

.transactionBox .transactionCurrency {
  float: right;
}

.payeeBox {
  height: 50px;
  border-bottom: 1px solid black;
}

.payeeBox div {
  float: left;
}
