body {
  margin: 0;
  border: 1px solid black;
  width: 323px;
  height: 701px;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
